# Server Configuration
PORT=1122

# Database Configuration (Local)
MONGO_URI=mongodb://0.0.0.0:27017

# JWT Authentication
# Replace with a strong secret key in your local .env
JWT_SECRET=your_jwt_secret_here

# Email Configuration (Nodemailer)
# Use your email and a generated App Password from Google settings
GOOGLE_APP_USER=your_email@gmail.com
GOOGLE_APP_PASSWORD=your_app_password_here