<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Помилка | GamePedia</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('../Templates/header'); -%>
    <main class="main">
        <h1 class="section-title">Упс, сталася помилка</h1>
        <p><%= error %></p>
        <a href="/" class="btn">Повернутися на головну</a>
    </main>
</body>
</html>